<div ng-hide="isFinished()">
  <div class="testPanel panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Phonetic Test</h3>
    </div>
    <div class="panel-body">
      <p ng-show="usedTime" class="pull-right"><span class="glyphicon glyphicon-time"></span>{{' ' + usedTime}}</p>
      <div class="question-panel">
        <h5>Question {{currentNumber + 1}}</h5>
        <span class="phonetic-char">{{phonetics[testNumbers[currentNumber]].char}}</span>
        <div class="question-form">
          <form>
            <input type="text" placeholder="Phonetic Word" ng-model="answer"/>
            <span><button type="submit" class="btn btn-sm btn-default" ng-click="submit()">Enter</button></span>
          </form>
        </div>
      </div>
    </div>
  </div>
  <blockquote ng-hide="previous===null" ng-class="{success:previous.correctness,danger:!previous.correctness}">
    <h4>Previous Question</h4>
    <h5>{{previous.char + ': ' + previous.answer}}</h5>
    <h5 ng-show="!previous.correctness">Correct Answer:{{previous.word}}</h5>
  </blockquote>
</div>
<div ng-show="isFinished()">
  <table class="table">
    <thead>
      <th>Character</th>
      <th>Phonetic Word</th>
      <th>Your Answer</th>
    </thead>
    <tbody>
      <tr ng-repeat="testResutl in testResutls" ng-class="{'success':testResutl.correctness,'danger':!testResutl.correctness}">
        <td>{{testResutl.char}}</td>
        <td>{{testResutl.word}}</td>
        <td>{{testResutl.answer}}</td>
      </tr>
    </tbody>
  </table>
  <span class="glyphicon glyphicon-time"></span>{{' ' + usedTime}}
  <button class="btn btn-sm btn-default pull-right" ng-click="reset()">Re-test</button>
</div>
